.contact-us-info {
	display: flex;
	justify-content: center;
	.section-title {
		span {
			color: $theme-color;
			font-size: 16px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1px;
			display: block;
			margin-bottom: 12px;
		}
		h2 {
			font-size: 42px;
			color: #111111;
			line-height: 50px;
			text-transform: uppercase;
		}
	}
	.contact-us-widget-item {
		position: relative;
		margin-bottom: 30px;
		&::after {
			position: absolute;
			right: 50px;
			top: 0px;
			width: 1px;
			height: 50px;
			background: #e1e1e1;
			content: "";
		}
		.contact-us-widget-item-icon {
			float: left;
			margin-right: 20px;
		}
		.contact-us-widget-item-text {
			overflow: hidden;
			h5 {
				color: $theme-color;
				text-transform: uppercase;
				margin-bottom: 10px;
				font-size: 1.25rem;
			}
			span {
				color: #111111;
				display: block;
			}
		}
	}

	.contact-us-widget-item.last-item {
		&::after {
			display: none;
		}
	}
}
